html, body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: auto !important;
  font-family: 'Roboto', sans-serif;
}

.wrap {
	min-height: 100%;
	width: 100%;
	height: auto !important;
	margin: 0 0 -120px 0;
	padding: 0;
}

.navbar-header {
  padding-left:35px;
}

.navbar-default {
	background-color: #fff;
	border: 0px;
	border-color: #fff;
}
  
.navbar-default .navbar-nav > li {
	margin-left: 10px;
}
  
.navbar-default .navbar-nav > li > a {
	background-color: transparent;
	border-bottom: 2px solid transparent;
}
  
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	border-bottom-color: #f78e1e;
	border-bottom-color: rgba(247, 142, 30, 0.25);
}
  
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	border-bottom-color: #f78e1e;
	background-color: transparent;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
	color: #fff;
	background-color: #0088cc;
}

.nav-list > li > a, .nav-list .nav-header {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a {
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
	white-space: nowrap;	
}

#footer {
  margin-top: 180px;
  height: 120px;
  background-color: #232323;
  color: #eeeeee;
  margin-bottom: 0px;
  overflow: hidden;
  padding-top: 10px;
}

.footer-social {
	border: 0;
	width: 32px;
	height: 32px;
  }
  
.footer-social-link {
text-decoration: none;
}

h1 {
  font-weight: 300;
}

.cat-ol li{
  color: #428bca;
  font-size: 24px;
  font-weight: 300;
}

.cat-title {
  color: #428bca;
  font-weight: 300;
}

.item-title {
  color: #428bca;
  font-size: 18px;
}

.item-title:hover {
  color: #f78e1e;
}

.subcat-title {
  font-weight: 300;
  margin-top:0px;
}

.item-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cat-divider {
  margin-top:0px;
}

.cat-title:hover {
  color: #f78e1e;
}

ul {
  padding-left: 5px;
}

.tag-title:hover {
  color: #f78e1e;
  text-decoration: none;
}