---
layout: "wrapper"
---

<div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12">
            <h1>{{page.title}}</h1>
            <hr>
            <div class="col-md-offset-9 col-xs-offset-8">
                <a href="https://github.com/osrf/gz-bigindex/edit/master/{{page.path}}">
                <i class="glyphicon glyphicon-edit" style="margin-right:3px"></i>
                Suggest edits
                </a>
            </div>
            </div>
        </div>
        <div class="container-fluid">
            {% for subcategory in page.subcategories %}
            <h3 class="subcat-title">{{subcategory.title}}</h3>            
            <ul>
                <div class="col-xs-12 item-container">
                    {% for item in subcategory.items %} 
                    <div style="margin-bottom: 15px">

                                      
                    <li>
                        <p class="item-title">
                            {% if item.star %}
                            <img src="{{ "/assets/img/star-128.png" | prepend: site.baseurl }}" alt="star_logo" width=1%>
                            {% endif %}
                            <a class="item-title" style="text-decoration: none" href={{item.url}}>                                    
                                {{item.title}}
                            </a>
                        </p>
                    </li>
                    <p class="item-desc">{{item.desc}}</p>
                    Tags:
                    {% for tag in item.tags %}
                        <a href="{{tag.url}}"  class="tag-title"> <span >{{tag}}</span></a>
                    {% endfor %}
                    <br>
                </div>
                {% endfor %}
            </div>
        </ul>
            {% endfor %}
        </div>
    </div>
    