---
layout: "wrapper"
---

<div class="container container-fluid">
    <div class="row">
        <div class="col-xs-12">
        <h1>Gazebo Documentation Index</h1>
        <hr>
        </div>
    </div>
    <div class="row">
        <ol class="cat-ol">
            {% for cat in site.categories %}
            <div class="col-xs-11 col-md-4" style="min-height: 160px">
                <li><a style="text-decoration: none" href="{{cat.url | prepend: site.baseurl}}"><h3 class="cat-title">{{cat.title}}</h3></a></li>
                <p class="cat-desc">{{cat.desc}}</p>
            </div>
            {% endfor %}
        </ol>
    </div>
</div>
