---
layout: "wrapper"
---

<div class="container container-fluid">
    <div class="row">
        <div class="col-xs-12">
        <h1>Gazebo Documentation Index</h1>
        <hr>
        </div>
    </div>
    <div class="row">
        <ol class="cat-ol" start="0">
            {% for cat in site.categories %}
                <div class="col-xs-11 col-md-4 cat-card">
                    <li><a style="text-decoration: none" href="{{cat.url | prepend: site.baseurl}}"><span class="cat-title">{{cat.title}}</span></a></li>
                    <p class="cat-desc">{{cat.desc}}</p>
                </div>
            {% endfor %}
        </ol>
    </div>
</div>
